

body { font-family: 'Nabla', cursive;
      font-family: 'Playfair Display', serif; 
    margin: 0; padding: 0;
    }

h3 {
  font-size: 1.5em;
  text-indent: 5%;
}

ul {
  text-indent: 5%;
}

li{
  text-indent: 5%;
}

.pindent{
  text-indent: 5%;
}

.p2indent{
  text-indent: 5%;
}

#menutitle {
font-size: 2.5em;

}

.box {
  color: white;
  background-color: rgb(65, 60, 60);
  padding-bottom: 2.5%;
  padding-top: 2.2%;
  border-radius: .3em;
}

.bkgrndcolor{
  font-size: 2em;
  border-radius: .3em;
  padding: 0em 1em;
  background-color: rgb(170, 132, 81);
  border-bottom: black;
  color: white;

}

.hero { 
 background-image: url(images/waffle4.jpg); 
 min-height: 65vh;  
 background-attachment: fixed; 
 background-position: center; 
 background-repeat: no-repeat; 
 background-size: cover; 
 padding: 0;
}


.tourshero { 
 background-image: url(images/waffle1.jpg); 
 min-height: 50vh;
 background-attachment: fixed; 
 background-position: center; 
 background-repeat: no-repeat; 
 background-size: cover; 
}

.rentalshero { 
 background-image: url(images/waffle3.jpg); 
 min-height: 50vh; 
 background-attachment: fixed; 
 background-position: center; 
 background-repeat: no-repeat; 
 background-size: cover; 
}



nav { z-index:9999;
   position: fixed;
   top: 0;
   left: 0;
   text-align: center;
   padding: .5em;
   height: 40px;
   background:rgba(25,25, 25, 0.70);
   width: 100%;
   font-size: 120%;
   font-weight: bold;
   min-width: 900px;
}

.activeNav{
  border-bottom: 1px solid white;
  padding-bottom: 3px;
  
}
nav ul { list-style-type: none; 
      margin: 5px; }
nav ul li { display: inline; padding-left: 2em; padding-right: 2em; }
nav a { text-decoration:none; }
nav a:link { color: #EAEAEA; }
nav a:visited { color: #FFF; }
nav a:hover { color: #FDA27F; }
h1 { height: 100px; 
  padding-top: 2em; 
  text-align: center;
  background:rgba(255, 255, 255, 0.80);

}




button{
  margin-left: 5%;
  padding: .75% .75%;
  border: none;
  border-radius: .5em;
  background-color:rgb(165, 58, 58);
  color: black;
  font-size: 25px;
  cursor: pointer;

}





.space {height: 8vh; }
#tours, #rentals, #contact {  background-color: #FFF;
                       width: 60%;
                       padding-left: 6em;
                       padding-top: 70px;
                       padding-bottom: 2em; }
footer {   background:rgba(25,25, 25, 0.90);
      width: 100%;
      font-size: 90%;
      text-align: center;	
      color: #EAEAEA; 

      position: fixed;
      bottom: 0;}	
footer a { text-decoration: none;  
       color: #EAEAEA; }	








/* ----------------------------contact section ------------------------------*/
.contact_section {
      font-family: 'Nabla', cursive;
      font-family: 'Playfair Display', serif; 
    }
    
    .contact_section .bg-img {
      position: absolute;
      width: 100px;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    
    .contact_section .bg-img img {
      width: 100%;
    }
    
    .contact_section .heading_container {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    
    .contact_section .heading_container h2 {
      text-transform: unset;
    }
    
    .contact_section input::-webkit-input-placeholder {
      color: #000;
    }
    
    .contact_section input:-ms-input-placeholder {
      color: #000;
    }
    
    .contact_section input::-ms-input-placeholder {
      color: #000;
    }
    
    .contact_section input::placeholder {
      color: #000;
    }
    
    .contact_section input {
      border: none;
      outline: none;
      border-bottom: 0.8px solid #ac9784;
      width: 90%;
      margin: 10px 0;
    }
    
    .contact_section input::-webkit-input-placeholder {
      color: #ac9784;
    }
    
    .contact_section input:-ms-input-placeholder {
      color: #ac9784;
    }
    
    .contact_section input::-ms-input-placeholder {
      color: #ac9784;
    }
    
    .contact_section input::placeholder {
      color: #ac9784;
    }
    
    .contact_form-container {
      padding: 15px 0 15px 0;
    }
    
    .contact_form-container button {
      border: none;
      background-color: #fd9e2e;
      color: #fff;
      padding: 14px 55px;
      font-size: 14px;
      text-transform: uppercase;
    }
    
    .map_container {
      height: 350px;
    }
    
    .map_container .map-responsive {
      height: 100%;
    }
    
    /* -------------------------------------end contact section------------------------------------------- */



/* -------------------------------------Medium layout----------------------------------------------------*/

@media (max-width: 768px) {
    
  nav { display: flex;

  }


  h3 {
    font-size: 1em;
    text-indent: 0%;
  }
  
  ul {
    text-indent: 0%;
  }
  
  li{
    font-size: .75em;
    text-indent: 0%;
  }
  
  .pindent{
    text-indent: 0%;
  }
  
  .p2indent{
    text-indent: 0%;
  }
  
  #menutitle {
  font-size: 2.5em;
  
  }
  
  .box {
    color: black;
    background-color: white; 
    padding-bottom: 0%;
    padding-top: 0%;
    border-radius: .3em;
  }
  
  .bkgrndcolor{
    font-size: 1.5em;
    border-radius: .3em;
    padding: 0em 1em;
    background-color: rgb(170, 132, 81);
    color: white;
  
  }
        
  .hero { 
    background-image: url(images/waffle4.jpg);
    min-height: 30vh;  
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    padding: 0;
  }
  
  
  .tourshero { 
    background-image: url(images/waffle1.jpg);
    min-height: 30vh;
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }
  
  .rentalshero { 
    background-image: url(images/waffle3.jpg);
    min-height: 30vh; 
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }
  
  button{
    margin-left: 0%;
    padding: 2% 2%;
    border: none;
    border-radius: .5em;
    background-color:rgb(165, 58, 58);
    color: black;
    font-size: 25px;
    cursor: pointer;
  
  }




  }




    

    /* -------------------------------------small layout----------------------------------------------------*/

    @media (max-width: 600px) {
    
   


      h3 {
        font-size: 1em;
        text-indent: 0%;
      }
      
      ul {
        text-indent: 0%;
      }
      
      li{
        font-size: .75em;
        text-indent: 0%;
      }
      
      .pindent{
        text-indent: 0%;
      }
      
      .p2indent{
        text-indent: 0%;
      }
      
      #menutitle {
      font-size: 2.5em;
      
      }
      
      .box {
        color: black;
        background-color: white; 
        padding-bottom: 0%;
        padding-top: 0%;
        border-radius: .3em;
      }
      
      .bkgrndcolor{
        font-size: 1.5em;
        border-radius: .3em;
        padding: 0em 1em;
        background-color: rgb(170, 132, 81);
        color: white;
      
      }
            
      .hero { 
        background-image: url(images/waffle4.jpg);
        min-height: 40vh;  
        background-attachment: fixed; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        padding: 0;
      }
      
      
      .tourshero { 
        background-image: none;
        min-height: 0;
        background-attachment: fixed; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
      }
      
      .rentalshero { 
        background-image: none;
        min-height: 0; 
        background-attachment: fixed; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
      }
      
      button{
        margin: 0%;
        padding: 2% 2%;
        border: none;
        border-radius: .5em;
        background-color:rgb(165, 58, 58);
        color: black;
        font-size: 25px;
        cursor: pointer;
      
      }




      }